

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
}

body{
    background-color: #282828;
    
}

/* make the style the inputes  */
#email-field,#password-field,#name-field,#role-field,#first-name-field,#last-name-field,#phoneNumber-field {
    border: solid 1px #f9f9f8;
    background-color: #020b13;
    color: white;
}
.password-wrapper {
            position: relative;
            width: 100%;
}
        .pwd-eye {
            position: absolute;
            right: 15px;
            top: 55%;
            width: 40px;
            transform: translateY(-50%);
            background: none;
            border: none;
            cursor: pointer;
            padding: 5px;
            display: flex;
            justify-content: right;
        }

        .pwd-eye svg {
            width:auto;
            opacity: 0.7;
            transition: opacity 0.2s;
        }

        .pwd-eye:hover img {
            opacity: 1;
        }

option{
    background-color: white;
    color: black;
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
    height: 100vh;
    width: 100%;
    margin: auto;
    border-radius: 5px;
    
    overflow: hidden;
}

.left-side{
    display: flex;
    flex-direction: column;
    
    background-image:linear-gradient(rgba(147, 84, 45, 0.36), rgba(0, 0, 0, 0.5)), url(../assets/C72A3583-F9E4-4A54-AC04-7AD4D325244C.jpg);
    background-size: cover;
    background-position: center;
    
    text-align: center;
    padding: 10px;
    color: whitesmoke;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
}


.right-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #020b13;
    padding: 20px;
    text-align: center;
    width: 100%;
    height: 100%;
}

.right-side form #signup-form #login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 20px;
}

input, button, select{
    width: 300px;
    height: 30px;
    padding: 5px;
    border-radius: 7px;
    border: 1px solid #abaaa9;
}

button, #submit-btn{
    
    background-color: #AD3537;
    cursor: pointer;
    color: whitesmoke;
    border: none;
    height: 40px;
}

select{
    height: 40px;
}


.right-side form label p{
    margin: 0;
    text-align: left;
}

#password-cue{
    color: #AD3537;
    font-size: 10px;
    margin: 0;
    padding: 0;
}

.sessions{

    display: flex; flex-wrap: wrap; gap: 10px;
    text-align: left;
}