:root{
    /* * Colors */
    --primary-color: #101014;
    --secondary-color: #C05F47;
    --tertiary-color: #FFFFFF;
    --primary-font: "Poppins", sans-serif;
    --secondary-font: "CalvinoTrial", sans-serif;
}